*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
*::-webkit-scrollbar{
    width: 0.5rem;
    background-color: transparent;
}
*::-webkit-scrollbar-thumb{
    background-color: #000;
    border-radius: 2rem;
}
*::selection{
    background:#000;
    color: #fff;
}
html{
    overflow-x: hidden;
}
header{
    border-bottom: solid 0.1rem #fff;
    box-shadow: 0 0.3rem 1rem #000;
}
header a{
    transition: 0.2s;
    position: relative;
}
header a:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}
header a:hover:before{
    visibility: visible;
    transform: scaleX(1);
}
nav a{
    border: solid 0.1rem transparent;
    padding: 0.2rem 0.3rem;
    transition: 0.2s;
}
nav a:hover{
    border: solid 0.1rem #000;
}
.contact{
    backdrop-filter: blur(2px) saturate(98%);
    -webkit-backdrop-filter: blur(2px) saturate(98%);
    background-color: rgba(255, 255, 255, 0.42);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}
#contact{
    border-radius: 0.5rem;
}
#gallery{
    cursor: default;
}
button i{
    font-size: medium;
    margin-inline: 0.5rem;
}
i{
    font-size: x-large;
}
.logo{
    width: 3rem;
    height: 3rem;
}
.fab{
    transition: 0.2s;
}
.fa-youtube:hover{
    color: red;
}
.fa-instagram:hover{
    color: #f0f;
}
.fa-facebook-f:hover{
    color: #04049b;
}
.fa-snapchat-ghost:hover{
    color: #86d835;
}